.body{
    margin: 0;
    background: rgb(20, 20, 20);
    font-family: sans-serif;
}


.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg,rgb(20, 20, 20), rgb(20, 20, 20), rgb(0, 0, 0));
    height: 60px;

}

.logo{
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-left: 30px;
    padding: 2px;
    box-shadow: white 0 0 10px;
    border-radius: 50%;
    margin-top: 20px;
    transition: 0.3s;
    
    


}

.logo:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.nome{
    color: rgb(105, 236, 100);
    
    margin-right: 600px;
    font-size: 20px;
    padding: 5px;
    font-weight: 100;
    border-radius: 5%;
    transition: 0.3s;
   
    
}

.nome:hover{
    text-shadow: white 0 0 10px;
    text-shadow: rgb(105, 236, 100) 0 0 20px;
    cursor: default;

}

.menu ul {
    list-style: none;
    padding-right: 90px;
    
}

.menu li{
    display: inline;
    margin: 20px;   
    padding: 2px; 
    color: aliceblue;
    font-size: 19px;
    font-weight: bold;
    transition: 0.3s;
    
  

    
}

.menu li a{
    text-decoration: none;
}

.menu li:hover{
    cursor: pointer;
    text-shadow: white 0 0 10px;

}

/*div#area{
    border:1px solid red;
    display: inline-flex;
    width: 100px;
    height: 50px;
    background: green;
    justify-content:center;
    padding-top: 25px;
}*/

.ti {
    border: 1px solid wheat;
    width: 100%;
    height: 200px;
    background: url(images/programaçao.jpg);
    background-attachment: fixed;
    margin-top: 20px;
    padding-bottom: 20px;
    transition: 0.1s;

}

.ti:hover{
    background: url(images/progra.jpg);
}



.ti-resume {
    border: 1px solid wheat;
    width: 100%;
    height: 250px;
    

}  

.direito {
    border: 1px solid wheat;
    width: 100%;
    height: 200px;
    background: url(images/juridico.jpg);
    background-attachment: fixed;

}



.direito-resume {
    border: 1px solid wheat;
    width: 100%;
    height: 250px;
    

}

.bolsa {
    border: 1px solid wheat;
    width: 100%;
    height: 200px;
    background: url(images/ações-bolsa.jpg);
    background-attachment: fixed;

}

.bolsa-resume {
    border: 1px solid wheat;
    width: 100%;
    height: 250px;
    

}
